# Ignore the documentation files:
documentation/

# Ignore object files and executables:
*.o
system.map
wagtail.elf
wagtail.itb
wagtail.bin
wagtail.bin.gz

# Ignore the reference documentation:
docs/

# Ignore vim swap files:
.*.swp
.*.swo
