# Ignore the documentation files:
documentation/

# Ignore object files and executables:
*.o
*.a
*.elf

# Ignore various built files:
system.map
wagtail.itb
wagtail.bin
wagtail.bin.gz

# Ignore the reference documentation:
docs/

# Ignore vim swap files:
.*.swp
.*.swo
